<footer id="footer">
  <div class="main-grid">
    <div class="grid-centered">
      <ul class="partner-pyramid">
        <li class="w3">
          <a href="https://twsteel.com/" target="_blank"><img class="invert" src="assets/images/iptek.jpg"></a>
        </li>
      </ul>
    </div>
    <div class="content grid-centered">
      <ul class="social">
        <li><a href="https://www.facebook.com/WorldRally/" target="_blank" rel="noopener" onclick="trackSocialLink('Facebook')"><i class="icon-facebook"></i></a></li>
      </ul>
      <p class="copy">Copyright 2022©IPTEK-CI</p>
    </div>
  </div>
</footer>
