<app-navbar></app-navbar>
<main>
  <section
    class="livecenter-wrapper">
    <div>
      <div id="live-timing-content" class="content">
        <nav class="content-nav" value="[object Object]">
          <a href="javascript:void(0)" class="show-tablet-portrait mobile-dropdown-toggle">Overall</a>
          <ul>
            <li class="active">
              <a href="#">
                <!---->
                Overall
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                Stage Times
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                Split Times
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                StageWinners
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                Itinerary
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                StartLists
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                Penalties
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                <!---->
                Retirements
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0)">
                Provisional Standings
              </a>
            </li>
          </ul>
        </nav>
        <div class="data-contel full">
          <div class="data-heading-wrapper">
            <h3 class="section-heading">
              Final Result
              <!---->
            </h3>
            <!---->
            <form class="data-filter">
              <select class="selectize selectized" tabindex="-1" style="display: none;">
                <option value="Eligibility" selected="selected">Eligibility</option>
              </select>
              <div class="selectize-control selectize single">
                <div class="selectize-input items full has-options has-items">
                  <div class="item" data-value="Eligibility">Eligibility</div>
                  <input type="select-one" autocomplete="off" tabindex="" style="width: 4px;" />
                </div>
                <div class="selectize-dropdown single selectize" style="display: none;"><div class="selectize-dropdown-content"></div></div>
              </div>
            </form>
          </div>
          <div>
            <div class="stage-timeline-wrapper">
              <ul class="stage-timeline large">
                <li style="width: 5.26316%;">
                  <ul>
                    <li class="over"><a href="javascript:void(0)">SHD</a></li>
                  </ul>
                </li>
                <li style="width: 36.8421%;">
                  <span class="day">Friday</span>
                  <ul>
                    <li class="over"><a href="javascript:void(0)">1</a></li>
                    <li class="over"><a href="javascript:void(0)">2</a></li>
                    <li class="over"><a href="javascript:void(0)">3</a></li>
                    <li class="over"><a href="javascript:void(0)">4</a></li>
                    <li class="over"><a href="javascript:void(0)">5</a></li>
                    <li class="over"><a href="javascript:void(0)">6</a></li>
                    <li class="over"><a href="javascript:void(0)">7</a></li>
                  </ul>
                </li>
                <li style="width: 31.5789%;">
                  <span class="day">Saturday</span>
                  <ul>
                    <li class="over"><a href="javascript:void(0)">8</a></li>
                    <li class="over"><a href="javascript:void(0)">10</a></li>
                    <li class="over"><a href="javascript:void(0)">11</a></li>
                    <li class="over"><a href="javascript:void(0)">12</a></li>
                    <li class="over"><a href="javascript:void(0)">14</a></li>
                    <li class="over"><a href="javascript:void(0)">15</a></li>
                  </ul>
                </li>
                <li style="width: 21.0526%;">
                  <span class="day">Sunday</span>
                  <ul>
                    <li class="over"><a href="javascript:void(0)">16</a></li>
                    <li class="over"><a href="javascript:void(0)">17</a></li>
                    <li class="over"><a href="javascript:void(0)">18</a></li>
                    <li class="over"><a href="javascript:void(0)">19</a></li>
                  </ul>
                </li>
                <li style="width: 5.26316%;">
                  <ul>
                    <li class="over active">
                      <a href="javascript:void(0)"><i class="icon-final"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!---->
          </div>
          <div>
            <!---->
            <div>
              <!---->
              <div id="datatable-52_wrapper" class="dataTables_wrapper no-footer">
                <table class="data-table datatables dataTable no-footer dtr-inline collapsed" id="datatable-52" role="grid" style="width: 1326px;">
                  <thead>
                  <tr role="row">
                    <th class="all acenter sorting_disabled" rowspan="1" colspan="1" style="width: 30px;">Pos</th>
                    <th class="acenter sorting_disabled" rowspan="1" colspan="1" style="width: 53px;">Car No</th>
                    <th class="all sorting_disabled" rowspan="1" colspan="1" style="width: 143px;">Driver</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 177px;">Co-Driver</th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 148px;">Team / Car</th>
                    <th class="min-tablet acenter sorting_disabled" rowspan="1" colspan="1" style="width: 82px;">Eligibility</th>
                    <th class="aright sorting_disabled" rowspan="1" colspan="1" style="width: 83px;">Stage Time</th>
                    <th class="aright sorting_disabled" rowspan="1" colspan="1" style="width: 0px; display: none;">Penalties</th>
                    <th class="min-tablet aright sorting_disabled" rowspan="1" colspan="1" style="width: 82px;">Total Time</th>
                    <th class="aright sorting_disabled" rowspan="1" colspan="1" style="width: 0px; display: none;">Diff Prev</th>
                    <th class="all aright sorting_disabled" rowspan="1" colspan="1" style="width: 78px;">Diff 1st</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">1</td>
                    <td class="acenter">#69</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      K. ROVANPERÄ
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      J. HALTTUNEN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/toyota.png" class="manufacturer" /> <span class="hide-mobile">GR Yaris Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      2:10:44.9
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:10:44.9
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright"><!----></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">2</td>
                    <td class="acenter">#11</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3BEL_48x32.png" alt="BEL" titel="BEL" class="flag" />
                      T. NEUVILLE
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3BEL_48x32.png" alt="BEL" titel="BEL" class="flag" />
                      M. WYDAEGHE
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">i20 N Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      2:11:06.9
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:11:06.9
                    </td>
                    <td class="aright" style="display: none;">
                      +22.0
                    </td>
                    <td class="aright">
                      +22.0
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">3</td>
                    <td class="acenter">#4</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      E. LAPPI
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      J. FERM
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/toyota.png" class="manufacturer" /> <span class="hide-mobile">GR Yaris Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      2:11:15.5
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:11:15.5
                    </td>
                    <td class="aright" style="display: none;">
                      +8.6
                    </td>
                    <td class="aright">
                      +30.6
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">4</td>
                    <td class="acenter">#18</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3JPN_48x32.png" alt="JPN" titel="JPN" class="flag" />
                      T. KATSUTA
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      A. JOHNSTON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/toyota.png" class="manufacturer" /> <span class="hide-mobile">GR Yaris Rally1</span></td>
                    <td class="acenter" style="">MT</td>
                    <td class="aright" style="">
                      2:13:04.3
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:13:04.3
                    </td>
                    <td class="aright" style="display: none;">
                      +1:48.8
                    </td>
                    <td class="aright">
                      +2:19.4
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">5</td>
                    <td class="acenter">#44</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3GBR_48x32.png" alt="GBR" titel="GBR" class="flag" />
                      G. GREENSMITH
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      J. ANDERSSON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Puma Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      2:14:05.3
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:14:05.3
                    </td>
                    <td class="aright" style="display: none;">
                      +1:01.0
                    </td>
                    <td class="aright">
                      +3:20.4
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">6</td>
                    <td class="acenter">#2</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      O. SOLBERG
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3GBR_48x32.png" alt="GBR" titel="GBR" class="flag" />
                      E. EDMONDSON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">i20 N Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      2:13:44.3
                    </td>
                    <td class="aright" style="display: none;">
                      2:40.0
                    </td>
                    <td class="aright" style="">
                      2:16:24.3
                    </td>
                    <td class="aright" style="display: none;">
                      +2:19.0
                    </td>
                    <td class="aright">
                      +5:39.4
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">7</td>
                    <td class="acenter">#20</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3NOR_48x32.png" alt="NOR" titel="NOR" class="flag" />
                      A. MIKKELSEN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3NOR_48x32.png" alt="NOR" titel="NOR" class="flag" />
                      T. ERIKSEN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2TDC</td>
                    <td class="aright" style="">
                      2:17:56.0
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:17:56.0
                    </td>
                    <td class="aright" style="display: none;">
                      +1:31.7
                    </td>
                    <td class="aright">
                      +7:11.1
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">8</td>
                    <td class="acenter">#24</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3NOR_48x32.png" alt="NOR" titel="NOR" class="flag" />
                      O. VEIBY
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3NOR_48x32.png" alt="NOR" titel="NOR" class="flag" />
                      S. SKJÆRMOEN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/volkswagen.png" class="manufacturer" /> <span class="hide-mobile">Polo GTI</span></td>
                    <td class="acenter" style="">WRC2DC</td>
                    <td class="aright" style="">
                      2:18:19.2
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:18:19.2
                    </td>
                    <td class="aright" style="display: none;">
                      +23.2
                    </td>
                    <td class="aright">
                      +7:34.3
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">9</td>
                    <td class="acenter">#23</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      J. HUTTUNEN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      M. LUKKA
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Mk II</span></td>
                    <td class="acenter" style="">WRC2TDC</td>
                    <td class="aright" style="">
                      2:18:59.1
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:18:59.1
                    </td>
                    <td class="aright" style="display: none;">
                      +39.9
                    </td>
                    <td class="aright">
                      +8:14.2
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">10</td>
                    <td class="acenter">#28</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      E. KAUR
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      S. SIMM
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/volkswagen.png" class="manufacturer" /> <span class="hide-mobile">Polo GTI</span></td>
                    <td class="acenter" style="">WRC2DC</td>
                    <td class="aright" style="">
                      2:19:09.7
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:19:09.7
                    </td>
                    <td class="aright" style="display: none;">
                      +10.6
                    </td>
                    <td class="aright">
                      +8:24.8
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">11</td>
                    <td class="acenter">#31</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      G. LINNAMÄE
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3GBR_48x32.png" alt="GBR" titel="GBR" class="flag" />
                      J. MORGAN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/volkswagen.png" class="manufacturer" /> <span class="hide-mobile">Polo GTI</span></td>
                    <td class="acenter" style="">WRC2DJC</td>
                    <td class="aright" style="">
                      2:19:20.9
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:19:20.9
                    </td>
                    <td class="aright" style="display: none;">
                      +11.2
                    </td>
                    <td class="aright">
                      +8:36.0
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">12</td>
                    <td class="acenter">#27</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      E. PIETARINEN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      A. LINNAKETO
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/volkswagen.png" class="manufacturer" /> <span class="hide-mobile">Polo GTI</span></td>
                    <td class="acenter" style="">WRC2DJC</td>
                    <td class="aright" style="">
                      2:19:38.7
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:19:38.7
                    </td>
                    <td class="aright" style="display: none;">
                      +17.8
                    </td>
                    <td class="aright">
                      +8:53.8
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">13</td>
                    <td class="acenter">#30</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      J. JONASSON
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      N. JONASSON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2DC</td>
                    <td class="aright" style="">
                      2:23:59.7
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:23:59.7
                    </td>
                    <td class="aright" style="display: none;">
                      +4:21.0
                    </td>
                    <td class="aright">
                      +13:14.8
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">14</td>
                    <td class="acenter">#50</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3GBR_48x32.png" alt="GBR" titel="GBR" class="flag" />
                      J. ARMSTRONG
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      B. HOY
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Rally3</span></td>
                    <td class="acenter" style="">WRC3J</td>
                    <td class="aright" style="">
                      2:24:31.1
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:24:31.1
                    </td>
                    <td class="aright" style="display: none;">
                      +31.4
                    </td>
                    <td class="aright">
                      +13:46.2
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">15</td>
                    <td class="acenter">#49</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      L. JOONA
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      M. KORHONEN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Rally3</span></td>
                    <td class="acenter" style="">WRC3JO</td>
                    <td class="aright" style="">
                      2:24:33.8
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:24:33.8
                    </td>
                    <td class="aright" style="display: none;">
                      +2.7
                    </td>
                    <td class="aright">
                      +13:48.9
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">16</td>
                    <td class="acenter">#38</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3POL_48x32.png" alt="POL" titel="POL" class="flag" />
                      M. SOLOWOW
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3POL_48x32.png" alt="POL" titel="POL" class="flag" />
                      M. BARAN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/volkswagen.png" class="manufacturer" /> <span class="hide-mobile">Polo GTI</span></td>
                    <td class="acenter" style="">WRC2DMC</td>
                    <td class="aright" style="">
                      2:25:24.3
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:25:24.3
                    </td>
                    <td class="aright" style="display: none;">
                      +50.5
                    </td>
                    <td class="aright">
                      +14:39.4
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">17</td>
                    <td class="acenter">#52</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      W. CREIGHTON
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      L. REGAN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Rally3</span></td>
                    <td class="acenter" style="">WRC3JO</td>
                    <td class="aright" style="">
                      2:26:53.6
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:26:53.6
                    </td>
                    <td class="aright" style="display: none;">
                      +1:29.3
                    </td>
                    <td class="aright">
                      +16:08.7
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">18</td>
                    <td class="acenter">#56</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      T. SKANTZ
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      K. KALLIO
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia</span></td>
                    <td class="acenter" style="">None</td>
                    <td class="aright" style="">
                      2:27:10.9
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:27:10.9
                    </td>
                    <td class="aright" style="display: none;">
                      +17.3
                    </td>
                    <td class="aright">
                      +16:26.0
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">19</td>
                    <td class="acenter">#40</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3BOL_48x32.png" alt="BOL" titel="BOL" class="flag" />
                      B. BULACIA
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3ESP_48x32.png" alt="ESP" titel="ESP" class="flag" />
                      M. MARTI
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2DJC</td>
                    <td class="aright" style="">
                      2:30:13.2
                    </td>
                    <td class="aright" style="display: none;">
                      20.0
                    </td>
                    <td class="aright" style="">
                      2:30:33.2
                    </td>
                    <td class="aright" style="display: none;">
                      +3:22.3
                    </td>
                    <td class="aright">
                      +19:48.3
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">20</td>
                    <td class="acenter">#8</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      O. TÄNAK
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      M. JÄRVEOJA
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">i20 N Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      2:32:43.3
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:32:43.3
                    </td>
                    <td class="aright" style="display: none;">
                      +2:10.1
                    </td>
                    <td class="aright">
                      +21:58.4
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">21</td>
                    <td class="acenter">#58</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3ITA_48x32.png" alt="ITA" titel="ITA" class="flag" />
                      L. HOELBLING
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3ITA_48x32.png" alt="ITA" titel="ITA" class="flag" />
                      F. FIORINI
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">NG i20</span></td>
                    <td class="acenter" style="">None</td>
                    <td class="aright" style="">
                      2:34:18.5
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:34:18.5
                    </td>
                    <td class="aright" style="display: none;">
                      +1:35.2
                    </td>
                    <td class="aright">
                      +23:33.6
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">22</td>
                    <td class="acenter">#62</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      I. REIERSEN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      J. JOHANSSON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta</span></td>
                    <td class="acenter" style="">None</td>
                    <td class="aright" style="">
                      2:35:17.3
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:35:17.3
                    </td>
                    <td class="aright" style="display: none;">
                      +58.8
                    </td>
                    <td class="aright">
                      +24:32.4
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">23</td>
                    <td class="acenter">#35</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3ITA_48x32.png" alt="ITA" titel="ITA" class="flag" />
                      M. MIELE
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3ITA_48x32.png" alt="ITA" titel="ITA" class="flag" />
                      L. BELTRAME
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2DMC</td>
                    <td class="aright" style="">
                      2:36:17.7
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:36:17.7
                    </td>
                    <td class="aright" style="display: none;">
                      +1:00.4
                    </td>
                    <td class="aright">
                      +25:32.8
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">24</td>
                    <td class="acenter">#61</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3ESP_48x32.png" alt="ESP" titel="ESP" class="flag" />
                      D. ALONSO
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3ESP_48x32.png" alt="ESP" titel="ESP" class="flag" />
                      A. PÉREZ
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/citroen.png" class="manufacturer" /> <span class="hide-mobile">C3</span></td>
                    <td class="acenter" style="">None</td>
                    <td class="aright" style="">
                      2:36:28.2
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:36:28.2
                    </td>
                    <td class="aright" style="display: none;">
                      +10.5
                    </td>
                    <td class="aright">
                      +25:43.3
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">25</td>
                    <td class="acenter">#43</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      J. ROMAN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      J. FORNANDER
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia</span></td>
                    <td class="acenter" style="">WRC2DMCM</td>
                    <td class="aright" style="">
                      2:38:40.1
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:38:40.1
                    </td>
                    <td class="aright" style="display: none;">
                      +2:11.9
                    </td>
                    <td class="aright">
                      +27:55.2
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">26</td>
                    <td class="acenter">#45</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3ITA_48x32.png" alt="ITA" titel="ITA" class="flag" />
                      E. OLDRATI
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3ITA_48x32.png" alt="ITA" titel="ITA" class="flag" />
                      E. DE GUIO
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2DJCJ</td>
                    <td class="aright" style="">
                      2:40:05.6
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:40:05.6
                    </td>
                    <td class="aright" style="display: none;">
                      +1:25.5
                    </td>
                    <td class="aright">
                      +29:20.7
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">27</td>
                    <td class="acenter">#59</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      G. STRÖM
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3SWE_48x32.png" alt="SWE" titel="SWE" class="flag" />
                      P. ELLISON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">NG i20</span></td>
                    <td class="acenter" style="">None</td>
                    <td class="aright" style="">
                      2:40:51.0
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:40:51.0
                    </td>
                    <td class="aright" style="display: none;">
                      +45.4
                    </td>
                    <td class="aright">
                      +30:06.1
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">28</td>
                    <td class="acenter">#60</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FRA_48x32.png" alt="FRA" titel="FRA" class="flag" />
                      B. PIERRAT
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FRA_48x32.png" alt="FRA" titel="FRA" class="flag" />
                      A. GENET
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">NG i20</span></td>
                    <td class="acenter" style="">None</td>
                    <td class="aright" style="">
                      2:46:30.9
                    </td>
                    <td class="aright" style="display: none;">
                      1:00.0
                    </td>
                    <td class="aright" style="">
                      2:47:30.9
                    </td>
                    <td class="aright" style="display: none;">
                      +6:39.9
                    </td>
                    <td class="aright">
                      +36:46.0
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">29</td>
                    <td class="acenter">#32</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      J. MCERLEAN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      J. FULTON
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/hyundai.png" class="manufacturer" /> <span class="hide-mobile">i20 N</span></td>
                    <td class="acenter" style="">WRC2DJCJ</td>
                    <td class="aright" style="">
                      2:52:04.1
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      2:52:04.1
                    </td>
                    <td class="aright" style="display: none;">
                      +4:33.2
                    </td>
                    <td class="aright">
                      +41:19.2
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">30</td>
                    <td class="acenter">#54</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3KEN_48x32.png" alt="KEN" titel="KEN" class="flag" />
                      M. KIMATHI
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3KEN_48x32.png" alt="KEN" titel="KEN" class="flag" />
                      M. KIONI
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Rally3</span></td>
                    <td class="acenter" style="">WRC3JO</td>
                    <td class="aright" style="">
                      3:11:45.3
                    </td>
                    <td class="aright" style="display: none;">
                      10.0
                    </td>
                    <td class="aright" style="">
                      3:11:55.3
                    </td>
                    <td class="aright" style="display: none;">
                      +19:51.2
                    </td>
                    <td class="aright">
                      +1:01:10.4
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">31</td>
                    <td class="acenter">#48</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      S. PAJARI
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      E. MÄLKÖNEN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Rally3</span></td>
                    <td class="acenter" style="">WRC3JO</td>
                    <td class="aright" style="">
                      3:13:59.5
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      3:13:59.5
                    </td>
                    <td class="aright" style="display: none;">
                      +2:04.2
                    </td>
                    <td class="aright">
                      +1:03:14.6
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">32</td>
                    <td class="acenter">#22</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      E. LINDHOLM
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3FIN_48x32.png" alt="FIN" titel="FIN" class="flag" />
                      R. HÄMÄLÄINEN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2TDJC</td>
                    <td class="aright" style="">
                      3:18:02.4
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      3:18:02.4
                    </td>
                    <td class="aright" style="display: none;">
                      +4:02.9
                    </td>
                    <td class="aright">
                      +1:07:17.5
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">33</td>
                    <td class="acenter">#25</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3BOL_48x32.png" alt="BOL" titel="BOL" class="flag" />
                      M. BULACIA
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3ARG_48x32.png" alt="ARG" titel="ARG" class="flag" />
                      M. DER OHANNESIAN
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/skoda.png" class="manufacturer" /> <span class="hide-mobile">Fabia Evo</span></td>
                    <td class="acenter" style="">WRC2TDJC</td>
                    <td class="aright" style="">
                      3:21:47.5
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      3:21:47.5
                    </td>
                    <td class="aright" style="display: none;">
                      +3:45.1
                    </td>
                    <td class="aright">
                      +1:11:02.6
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">34</td>
                    <td class="acenter">#51</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      R. VIRVES
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3EST_48x32.png" alt="EST" titel="EST" class="flag" />
                      A. LESK
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Rally3</span></td>
                    <td class="acenter" style="">WRC3J</td>
                    <td class="aright" style="">
                      3:25:05.4
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      3:25:05.4
                    </td>
                    <td class="aright" style="display: none;">
                      +3:17.9
                    </td>
                    <td class="aright">
                      +1:14:20.5
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="acenter" tabindex="0">35</td>
                    <td class="acenter">#47</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      E. BOLAND
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      M.
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Fiesta Mk II</span></td>
                    <td class="acenter" style="">WRC2DMCM</td>
                    <td class="aright" style="">
                      3:25:15.4
                    </td>
                    <td class="aright" style="display: none;">
                      1:00.0
                    </td>
                    <td class="aright" style="">
                      3:26:15.4
                    </td>
                    <td class="aright" style="display: none;">
                      +1:10.0
                    </td>
                    <td class="aright">
                      +1:15:30.5
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="acenter" tabindex="0">36</td>
                    <td class="acenter">#42</td>
                    <td>
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      C. BREEN
                    </td>
                    <td style="">
                      <img src="https://images.laola1.at/flaggen/3IRL_48x32.png" alt="IRL" titel="IRL" class="flag" />
                      P. NAGLE
                    </td>
                    <td style=""><img src="https://www.wrc.com/fileadmin/images/manufactors/ford.png" class="manufacturer" /> <span class="hide-mobile">Puma Rally1</span></td>
                    <td class="acenter" style="">M</td>
                    <td class="aright" style="">
                      3:32:41.2
                    </td>
                    <td class="aright" style="display: none;"><!----></td>
                    <td class="aright" style="">
                      3:32:41.2
                    </td>
                    <td class="aright" style="display: none;">
                      +6:25.8
                    </td>
                    <td class="aright">
                      +1:21:56.3
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer style="position: fixed;left: 0;bottom: 0;width: 100%;text-align: center;"></app-footer>
